<%- include('./partials/header'); %>

<head>
	<title>Products Page</title>
	<link rel='stylesheet' type='text/css' href='public/css/styles.css'>
       
	<script src='public/js/script.js'></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
 
<div class='header'>
	<div class='navigation'>
	<div class='navLink'>
		<a href='home'>Home</a>
	</div>
		<div class='navLink'>
			<a href='products'>Shoes</a>
		</div>
		<div class='navLink'>
			<a href='shop'>View Range</a>
		</div>

		<div class='navLink'>
			<a href='cart'>Cart <em><% for (var i = 0; i < cartNumb.length;i++){ %>
				  <% if(cartNumb != 0){ %> 
					<%= cartNumb.ID.length %>
					<% } %>
		 		 <% } %> 
				</em></a>
		</div>


	</div>
</div>

 <div class='colors'> 
	<div class='buttonsContainer'>
		<button id='reds'>Reds</button>
		<button id='greens '>Greens</button>
		<button id='othershades'>Other</button>
	</div>
	<ul id="myList">
		<div class='productsContainer'>
			<% for (var i=0;i <products.length;i++) { %>
			<div class='listing'>
				<div class='listingImage'>

					<a href='products/<%= products[i].ID %>'><img src='public/<%= products[i].image %>'></a>
				</div>
				<div class='listingTitle'>
					<a href='products/<%= products[i].ID %>'>
						<p><%= products[i].title %></p>
					</a>
				</div>
					
				<div class='listingPrice'>
					<a href='products/<%= products[i].ID %>'>
						<p>£<%= products[i].price %></p>
				</div>
				<div class='listingButtons'>
					<a href="buyNow/<%= products[i].ID %>">
						<button id="buyNow">Buy it Now</button>
					</a>
					<button id='addCart' value='<%= products[i].ID %>'>Add to Cart</button>
				</div>
			</div>
			<% } %>
		</div>
</div>
</ul>
<%- include('./partials/footer'); %>