<%- include('./partials/header'); %>

<head>
    <title>Submission Details</title>
    <link rel='stylesheet' type='text/css' href='public/css/styles.css'>
    

</head>
<h3><a class="btn btn-secondary" href="/contact"><i class="fa fa-plus"></i> Create New</a> Contact Details</h3>
<div class='header'>
    <div class='navigation'>

        <div class='navLink'>
            <a href='/products'>Shoes</a>
        </div>
        <div class='navLink'>
            <a href='/home'>Home</a>
        </div>
        <div class='navLink'>
            <a href='/contact'>Contact</a>
        </div>
    </div>
</div>
<br><br><br><br><br><br><br><br>
<ul class=myList>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Comment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%  contacts.forEach(function(contact){ %>

            <tr>
                <div id="contact">
                    <td><%=contact.name%></td>
                    <td><%=contact.email%></td>
                    <td><%=contact.subject%></td>
                    <td><%=contact.comment%></td>
                    <td>

<a href="/contact/delete/<%=contact._id%>" onclick="return confirm('Are you sure to delete this record ?');"><i
        class="fa fa-trash fa-lg" aria-hidden="true"></i> Delete </a>
        <br>
 
 <a href='/contact/<%=contact._id%>' style=" position: relative; top: 15px;"><i
            class="fas fa-pencil-alt fa-2x"></i> Edit </a> 
 
</tr>
<% }) %>
</div>
</ul>
</tbody>
</table>
<%- include('./partials/footer'); %>