<%- include('../partials/header'); %>
<head>
    <title>Shop Page</title>
  
        <link rel='stylesheet' type='text/css' href='./public/css/styles3.css'>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
  <script src='../public/js/script.js'></script>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<div class='header'>
    <div class='navigation'>
        <div class='navLink'>
            <a href='cart'>Cart</a>
        </div>
        <div class='navLink'>
            <a href='products'>Shoes</a>
        </div>
        <div class='navLink'>
            <a href='../contact'>Contact</a>
        </div>
    </div>
</div>
    <hr><br><br>
<ul id="myList"> 
    <div class='colorsBody'>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Price</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Stock</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
               
                <%  items.forEach(function(item){ %>

                <tr>
                    <td> <%=item.title%></td>
                  
                   <td> <div class="card" style="width: 18rem;">
      
                            <img src='public/<%= item.image %>' class="card-img-top" alt="shoe">
                        <div class="card-body">
                            <p class="card-text">View the Best Shoes Goldens Shoes has to Offer!</p>
                        </div></td>
                    </div>
                    <td><%=item.price%></td>
                    <td><%=item.type%></td>
                 <td> <%=item.description.slice(0,30 ) + '....!'%>  
               
                    <td><%=item.stock%></td>

                    <td>
                        <div class="form-group">
                            <form class="item" action="/singleItem/<%=item._id%>" method="GET">
                                <button type="submit" data-item-id="<%= item._id %> <%=item.price%>" name="button" class="btn btn-info"
                                    style="margin: 0px; height: 20%; width: 150px">
                                    <i class="fa fa-database"></i> Read More</button>
                                    
                            </form>
                            
                        </div>
          
                    </td>
                </tr>
                <% }) %>
            
</ul>
            </tbody>
        </table>
    </div>
<%- include('../partials/footer'); %>
 